@layer tailwind {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  --dark_0: #1C1F2E;
  --dark_1: #161925;
  --dark_2: #1F2339;
  --dark_3: #252A41;
  --light_0: #FFFFFF;
  --light_1: #C9DDFF;
  --light_2: #ECF0FF;
  --other_0: #FF742E;
  --other_1: #F9A90E;
  --other_2: #0E78F9;
  --other_3: #830EF9;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Nunito_sans_black";
  src: url("../public/fonts/NunitoSans_10pt-Black.ttf");
}

@font-face {
  font-family: "Nunito_sans_bold";
  src: url("../public/fonts/NunitoSans_10pt-Bold.ttf");
}

@font-face {
  font-family: "Nunito_sans_extrabold";
  src: url("../public/fonts/NunitoSans_10pt-ExtraBold.ttf");
}

@font-face {
  font-family: "Nunito_sans_light";
  src: url("../public/fonts/NunitoSans_10pt-Light.ttf");
}

@font-face {
  font-family: "Nunito_sans_medium";
  src: url("../public/fonts/NunitoSans_10pt-Medium.ttf");
}

@font-face {
  font-family: "Nunito_sans_regular";
  src: url("../public/fonts/NunitoSans_10pt-Regular.ttf");
}

@font-face {
  font-family: "Nunito_sans_semibold";
  src: url("../public/fonts/NunitoSans_10pt-SemiBold.ttf");
}

.cl-footerActionLink {
  outline: none !important;
  outline-offset: 0 !important;
}

.cl-footerActionLink:focus {
  outline: none !important;
  outline-offset: 0 !important;
}